In [11]:
!pip install beautifulsoup4

Collecting beautifulsoup4
  Using cached beautifulsoup4-4.13.3-py3-none-any.whl.metadata (3.8 kB)
Collecting soupsieve>1.2 (from beautifulsoup4)
  Using cached soupsieve-2.6-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\talim\miniconda3\envs\tf_env\lib\site-packages (from beautifulsoup4) (4.12.2)
Using cached beautifulsoup4-4.13.3-py3-none-any.whl (186 kB)
Using cached soupsieve-2.6-py3-none-any.whl (36 kB)
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.13.3 soupsieve-2.6

In [12]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [26]:
!pip install beautifulsoup4

import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://en.wikipedia.org/wiki/World_population"

response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

print(soup.title)
print(soup.title.text)

tables = soup.find_all("table")
dataframe = []

for table in tables:
    rows = table.find_all("tr")[1:]
    data = []
    for row in rows:
        cols = row.find_all("td")
        cols = [ele.text.strip() for ele in cols]
        data.append(cols)
    df = pd.DataFrame(data)
    dataframe.append(df)

    data = []

    for row in rows:
        cols = row.find_all("td")
        cols = [ele.text.strip() for ele in cols]
        data.append(cols)
    df = pd.DataFrame(data)
    dataframe.append(df)

dataframe[4]

Requirement already satisfied: beautifulsoup4 in c:\users\talim\miniconda3\envs\tf_env\lib\site-packages (4.13.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\talim\miniconda3\envs\tf_env\lib\site-packages (from beautifulsoup4) (2.6)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\talim\miniconda3\envs\tf_env\lib\site-packages (from beautifulsoup4) (4.12.2)
<title>World population - Wikipedia</title>
World population - Wikipedia

,0,1,2,3,4
0,Asia,104.1,"4,641","1,439,090,595 – India","13,515,000 – Tokyo Metropolis(37,400,000 – G..."
1,Africa,44.4,"1,340","0,211,401,000 – Nigeria","09,500,000 – Cairo(20,076,000 – Greater Cairo)"
2,Europe,73.4,747,"0,146,171,000 – Russia, approx. 110 million i...","13,200,000 – Moscow(20,004,000 – Moscow metr..."
3,Latin America,24.1,653,"0,214,103,000 – Brazil","12,252,000 – São Paulo City(21,650,000 – São..."
4,Northern America[note 1],14.9,368,"0,332,909,000 – United States","08,804,000 – New York City(23,582,649 – New ..."
5,Oceania,5,42,"0,025,917,000 – Australia","05,367,000 – Sydney"
6,Antarctica,~0,0.004[86],N/A[note 2],"00,001,258 – McMurdo Station"